<div class="ms-Dialog center-dialog ms-Dialog--close" id="scopes-dialog" tabindex="0">
    <!--
    This empty tag is a workaround for fixing an off by one error.

    When focus is on the CLOSE button on the bottom right of the dialog and the user presses TAB focus would skip to the dialog title.

    Having this empty tag means that focus would skip to the CLOSE icon instead of the dialog title.
    -->
    <div #firstElement tabindex="0"></div>
    <button class="ms-Dialog-button ms-Dialog-buttonClose" tabindex="0" (keydown)="focusOnLastElement($event, lastElement)"
        autofocus>
        <i class="ms-Icon ms-Icon--Cancel"></i>
    </button>
    <div tabindex="0" class="ms-Dialog-title">{{getStr('modify permissions')}}</div>
    <p class="ms-Dialog-subText" tabindex="0">Select different
        <a class="ms-Link" href="https://developer.microsoft.com/graph/docs/concepts/permissions_reference" target="_blank">permissions</a>
        to try out Microsoft Graph API endpoints.</p>
    <div class="ms-Dialog-content">
        <div id="scopes-list-table-container" #scopesListTableContainer [style.height.px]="getScopesListTableHeight()"
            tabindex="0">
            <table class="ms-Table" id="scopes-list-table">
                <tr *ngFor="let scope of scopes">
                    <td class="scopeRow" [tabindex]="getTabIndex(scope)">
                        <div class="c-checkbox">
                            <label class="c-label">
                                <!-- scope.consented indicates that the user or admin has previously consented to the scope.-->
                                <input type="checkbox" [disabled]="scope.consented" (change)="toggleRequestScope(scope)"
                                    name="checkboxId1" value="value1" [attr.aria-label]="getScopeLabel(scope.name)">
                                <span aria-hidden="true" [title]="scope.description">{{scope.name}}
                                    <i class="consented-label" *ngIf="scope.consented">{{getStr('Consented')}}</i>
                                    <i class="preview-label" *ngIf="scope.preview">{{getStr('Preview')}}</i>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="scope.admin">
                            Admin
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="scopeListIsDirty()">
            <div class="ms-MessageBar ms-MessageBar--warning">
                <div class="ms-MessageBar-content">
                    <div class="ms-MessageBar-icon">
                        <i class="ms-Icon ms-Icon--Info"></i>
                    </div>
                    <div class="ms-MessageBar-text" role="alert" aria-live="assertive">
                        {{getStr('To change permissions, you will need to log-in again.')}}
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="hasSelectedAdminScope">
            <div class="ms-MessageBar ms-MessageBar--warning">
                <div class="ms-MessageBar-content">
                    <div class="ms-MessageBar-icon">
                        <i class="ms-Icon ms-Icon--Info"></i>
                    </div>
                    <div class="ms-MessageBar-text" role="alert" aria-live="assertive">
                        You have selected permissions that only an administrator can grant. To get access, an
                        administrator can grant
                        <a class="ms-Link" href="#" [style.font-size.px]="15" (click)="startAdminConsentFlow()">access
                            to your entire organization</a>.
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ms-Dialog-actions">
        <button class="ms-Button ms-Dialog-action ms-Button--primary" [disabled]="!scopeListIsDirty()" (click)="getNewAccessToken()"
            tabindex="0">
            <span class="ms-Button-label" style="text-transform: capitalize;">{{getStr('modify permissions')}}</span>
        </button>
        <button class="ms-Button ms-Dialog-action" tabindex="0" (keydown.tab)="focusOnFirstElement(firstElement)">
            <span class="ms-Button-label">{{getStr('Close')}}</span>
        </button>
        <!--
        This empty tag is a workaround for fixing an off by one error.

        When focus is on the X icon on the top right of the modal and the user presses SHIFT + TAB focus would skip to the button
        just before the close button.

        Having this empty tag means that focus would skip to the CLOSE button instead of the the Modify Permission button
        -->
        <div tabindex="0" #lastElement></div>
    </div>
</div>
