.status-code.success {
    color: #006300;
}

.status-code.error {
    color: #9c0028;
}

tr.request-history-query:hover td:not(.remove-query) {
    background-color: #f4f4f4;
    cursor: pointer;
}

td.remove-query i {
    opacity: 0;
}

tr.request-history-query:hover td.remove-query i {
    opacity: 1;
}

td.duration {
    text-align: right;
}

tr.request-history-query:hover td.remove-query {
    cursor: pointer;
    text-align: center;
}

td.remove-query:hover {
    background-color: #e4e4e4;
}

#panel-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: white;
    padding: 15px;
    text-align: right;
    padding-right: 80px;
}


tr.request-history-query.restrict:hover td {
    cursor: not-allowed !important;
}

td.relative-date {
    white-space: nowrap;
}