<div id="history-panel" class="ms-Panel ms-Panel--xl" tabindex="1">
    <button name="button" aria-label="close history button" class="ms-Panel-closeButton ms-PanelAction-close"  id="close-history-btn" tabindex="1">
        <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
    </button>
    <div class="ms-Panel-contentInner">
        <p class="ms-Panel-headerText">{{getStr('History')}}</p>
        <div class="ms-Panel-content">
            <table class="ms-Table">
                <thead>
                    <tr>
                        <th>{{getStr('Method')}}</th>
                        <th>{{getStr('Query')}}</th>
                        <th>{{getStr('Date')}}</th>
                        <th>{{getStr('Status Code')}}</th>
                        <th style="text-align:right">{{getStr('Duration')}}</th>
                        <th>{{getStr("Action")}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let query of getRequestHistory()" tabindex="1" class="request-history-query" [class.restrict]="!isAuthenticated() && query.method != 'GET'">
                        <td (click)="handleQueryClick(query)">
                            <method-badge [query]="query"></method-badge>
                        </td>
                        <td (click)="handleQueryClick(query)">{{getQueryText(query)}}</td>
                        <td (click)="handleQueryClick(query)" class="relative-date">{{query.relativeDate}}</td>
                        <td (click)="handleQueryClick(query)">
                            <span class="status-code" [ngClass]="getSuccessClass(query)">{{query.statusCode}}</span>
                        </td>
                        <td class="duration" (click)="handleQueryClick(query)">{{query.duration}} {{getStr('milliseconds')}}</td>
                        <td class="export-query" (click)="exportQuery(query)">{{getStr("Export")}}</td>
                        <td class="remove-query" (click)="removeQueryFromHistory(query)">
                            <i class="ms-Icon ms-Icon--Cancel"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="panel-actions">
                <button tabindex="1" name="button" class="c-button" type="submit" (click)="clearHistory()" (keydown.tab)="focusOnCloseBtn()">
                    {{getStr('Remove All')}}
                </button>
            </div>

        </div>
    </div>
</div>
