<div class="ms-Pivot">
    <ul class="ms-Pivot-links" role="tablist">
        <li class="ms-Pivot-link is-selected"
            aria-selected="true"
            data-content="body"
            [attr.title]="getStr('request body')"
            tabindex="0"
            role="tab"
        >
            {{getStr('request body')}}
        </li>
        <li class="ms-Pivot-link"
            data-content="headers"
            [attr.title]="getStr('request header')"
            tabindex="0"
            role="tab"
        >
            {{getStr('request header')}}
        </li>
    </ul>
    <div class="ms-Pivot-content" data-content="body">
        <div id="requestBodyContainer">
            <div id="post-body-editor"></div>
        </div>
    </div>
    <div class="ms-Pivot-content" data-content="headers">
        <div id="headers-editor" role="grid">
            <table role="presentation">
                <tr role="row">
                    <th role="columnheader" tabindex="0">{{getStr('Key')}}</th>
                    <th role="columnheader" tabindex="0">{{getStr('Value')}}</th>
                </tr>
                <tr role="row" *ngFor="let header of explorerValues.headers; let idx = index" class="header-row">
                    <td role="gridcell" class="half-width-col">
                        <input class="c-text-field"
                               (ngModelChange)="createNewHeaderField()"
                               [(ngModel)] = "header.name"
                               [disabled] = "header.readonly"
                               role="textbox"
                               name="Add request header name"
                               type="text"
                               [attr.placeholder]="getPlaceholder(header)">
                    </td>
                    <td role="gridcell" class="half-width-col">
                        <input class="c-text-field header-value"
                               [(ngModel)]="header.value"
                               [disabled]="header.readonly"
                               type="text"
                               [class.invisible]="isLastHeader(header)"
                               role="textbox"
                               name="Add request header value">
                    </td>
                    <td class="remove-header-btn" [class.invisible]="isLastHeader(header)" (click)="removeHeader(header)" (keydown)="removeHeaderKeyDown($event, header)" role="button" aria-label="Remove request header"
                        tabindex="0">
                        <i class="ms-Icon ms-Icon--Cancel"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>