<div *ngIf="getAuthenticationStatus() == 'anonymous'">
    <div tabindex="0" [attr.aria-label]="getStr('Using demo tenant')">{{getStr('Using demo tenant')}}</div>
    <div tabindex="0" [attr.aria-label]="getStr('To access your own data:')" >{{getStr('To access your own data:')}}</div>
    <div id="ms-signin-button-holder">
        <img id="ms-signin-button" alt="{{getStr('sign in')}}" src="{{getAssetPath('assets/images/MSSignInButton.svg')}}" (click)="login()"
            role="button" tabindex="0" />
    </div>
</div>
<div *ngIf="getAuthenticationStatus() == 'authenticating'">
    <div class="c-progress f-indeterminate-local f-progress-small" id="authenticating-progress-bar" role="progressbar" aria-valuetext="Loading..."
        tabindex="0" aria-label="indeterminate local small progress bar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div *ngIf="getAuthenticationStatus() == 'authenticated'" id="persona-holder">
    <div class="ms-Persona" [class.noPicture]="!authInfo.user.profileImageUrl">
        <div class="ms-Persona-imageArea" *ngIf="authInfo.user.profileImageUrl">
            <img class="ms-Persona-image" [src]="sanitize(authInfo.user.profileImageUrl)">
        </div>
        <div class="ms-Persona-details">
            <div class="ms-Persona-primaryText" id='userDisplayName' *ngIf="authInfo.user.displayName">{{authInfo.user.displayName}}</div>
            <div class="ms-Persona-secondaryText" id='userMail' *ngIf="authInfo.user.emailAddress">{{authInfo.user.emailAddress}}</div>
        </div>
    </div>
    <a href="#" id="manage-permissions" class="c-hyperlink" tabindex=0 (click)="manageScopes()">{{getStr('modify permissions')}}</a>
    <a href="#" id="signout" class="c-hyperlink" tabindex=0 (click)="logout()">{{getStr('sign out')}}</a>

</div>