<div id="request-bar-row-form" layout="row" layout-align="start center">
    <!-- HTTP METHOD -->
    <div [title]="isAuthenticated() ? '' : getStr('login to send requests')" #httpMethod id="httpMethodSelect" [ngClass]="explorerValues.selectedOption"
        class="c-select f-border first-row-mobile bump-flex-row-mobile fixed-with-mwf-menu" [attr.aria-label]="getStr('HTTP verb selector')" [attr.tabindex]="isAuthenticated() ? '-1' : '0'">
        <select [disabled]="!isAuthenticated()" tabindex="0" role="button" [attr.aria-label]="getStr('HTTP verb selector')">
            <option *ngFor="let choice of methods">{{choice}}</option>
        </select>
    </div>

    <!-- version button -->
    <div id="graph-version-select">
        <div class="c-select f-border bump-flex-row-mobile graph-version fixed-with-mwf-menu" #graphVersion>
            <select>
                <option *ngFor="let version of GraphVersions">{{version}}</option>
            </select>
        </div>
    </div>

    <div id="graph-request-url" class="c-search" autocomplete="off" name="form1">
        <input [(ngModel)]="explorerValues.endpointUrl" (keydown)="endpointInputKeyDown($event)" role="textbox" aria-controls="auto-suggest-default-2"
            aria-autocomplete="both" aria-expanded="false" type="search" name="search-field" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false" aria-label="Microsoft Graph request URL input">

        <div class="m-auto-suggest" #autoSuggest id="auto-suggest-default-2" role="group">
            <ul class="c-menu f-auto-suggest-scroll" aria-hidden="true" data-js-auto-suggest-position="default" tabindex="0" role="listbox"></ul>
            <ul class="c-menu f-auto-suggest-no-results" aria-hidden="true" data-js-auto-suggest-position="default" tabindex="0">

            </ul>
        </div>
    </div>

    <button name="button" class="c-button explorer-form-row bump-flex-row-mobile" type="submit" id="submitBtn" (click)="submit()">
        <span [hidden]="explorerValues.requestInProgress">
            <i id="go-lightning-icon" class="ms-Icon ms-Icon--LightningBolt" style="padding-right: 10px;" aria-hidden="true"></i>{{getStr('Run Query')}}</span>
        <div class="ms-Spinner" [hidden]="!explorerValues.requestInProgress"></div>
    </button>
</div>
<request-editors></request-editors>
<div id="spacer-1"></div>

<message-bar [message]="messageBarContent()"></message-bar>
<!-- response -->
<share-link-btn></share-link-btn>
<div class="ms-Pivot" id="response-viewer-labels" tabindex="0">
    <ul class="ms-Pivot-links" role="tablist">
        <li class="ms-Pivot-link is-selected" data-content="response" [attr.title]="getStr('Response Preview')" tabindex="0" role="tab" aria-owns="response-viewer">
            {{getStr('Response Preview')}}
        </li>
        <li class="ms-Pivot-link" data-content="response-headers" [attr.title]="getStr('Response Headers')" tabindex="0" role="tab" aria-owns="response-header-viewer">
            {{getStr('Response Headers')}}
        </li>
    </ul>
    <div class="ms-Pivot-content" data-content="response" >
        <div id="response-viewer">
            <img id="responseImg" tabindex="0" [hidden]="!explorerValues.showImage" style="margin-top:10px" ng-cloak role="img" [attr.aria-label]="getStr('User photo')"/>
            <div id="jsonViewer" tabindex="0" [hidden]="explorerValues.showImage" role="textbox" [attr.aria-label]="getStr('Response body')"></div>
        </div>
    </div>
    <div class="ms-Pivot-content" data-content="response-headers" >
        <div id="response-header-viewer" role="textbox" title="response headers" tabindex="0" [attr.aria-label]="getStr('Response headers viewer')"></div>
    </div>
</div>