#request-bar-row-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
}

#request-bar-row-form::after {
    content: '';
    width: 100%;
}

.c-select.f-border {
    min-width: inherit;
}

.c-select:after {
    display: none;
}

#responseImg {    
    max-width: 300px;
}

#graph-request-url {
    flex: 1;
    margin-right: 8px;
    max-width: 100%;
}

#submitBtn {
    height: 32px;
    margin-top: 20px;
    padding-top: 6px;
}

.ms-Spinner {
    margin-left: 38px;
    position: relative;
    top: -1px;
}

#spacer-1 {
    margin-bottom: 50px;
}

button.c-button[type=submit]:focus:not(.x-hidden-focus) {
    outline: #000 solid 1px !important;
}


.c-auto-suggest .c-menu, .m-auto-suggest .c-menu {
    max-width: 100%;
}
.c-menu.f-auto-suggest-no-results {
    display: none;
}

.c-menu.f-auto-suggest-scroll {
    max-height: 300px !important;
}

#go-lightning-icon {
    position: relative;
    top: 2px;
}

    
/*mobile*/


@media (max-width: 639px) {
    .bump-flex-row-mobile {
        order: 1;
        margin: 0px auto;
        margin-top: 20px;
    }
}

:host /deep/ button {
    line-height: 1;
}

.ms-Pivot-link:hover, .ms-Pivot-link:focus {
    background: rgba(0,0,0,0.25);
    outline: 2px solid white;
}