.api-query:hover, .c-drawer>button:hover, .api-query:focus, .c-drawer>button:focus, .query-link:focus {
        background: rgba(0,0,0,0.25);
        outline: 2px solid white;
    }

    .query-link {
        color: white;
        padding: 6px;
        margin: 3px, 0px, 3px, 0px;
        display: block;
        float: right;
    }

    .api-query:hover .query-link {
        background-color: #232323;
    }

    .query-link:hover {
        background: rgba(0,0,0,0.4) !important;
        cursor: pointer;
    }

    .restrict:hover {
    cursor: not-allowed;
    }

    .api-query {
        cursor: pointer;
        font-size: 13px;
        line-height: 16px;
        display: block;
        border: 0;
        background: 0 0;
        font-weight: 500;
        padding: 0px 5px 0px 12px;
        left: 0;
        text-align: left;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: -12px;
    }

    .row-1 {
        display: flex;
        flex-wrap: wrap;
    }

.duration {
    float: right;
}

.query {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    margin: auto;
    color: white;
    height: 20px;
}

method-badge {
    margin:auto;
    height: 22px;
}