<div class="ms-Pivot">
    <ul class="ms-Pivot-links">
        <li class="ms-Pivot-link is-selected" aria-selected="true" data-content="body" [attr.title]="getStr('request body')" tabindex="1"
            role="tab">
            {{getStr('request body')}}
        </li>
        <li class="ms-Pivot-link" data-content="headers" [attr.title]="getStr('request header')" tabindex="1" role="tab">
            {{getStr('request header')}}
        </li>
    </ul>
    <div class="ms-Pivot-content" data-content="body">
        <div id="requestBodyContainer">
            <div id="post-body-editor" [attr.title]="getStr('Request body editor')" role="textbox"></div>
        </div>
    </div>
    <div class="ms-Pivot-content" data-content="headers">
        <div id="headers-editor">
            <table>
                <tr>
                    <th>{{getStr('Key')}}</th>
                    <th>{{getStr('Value')}}</th>
                </tr>
                <tr *ngFor="let header of explorerValues.headers; let idx = index" class="header-row">
                    <td class="half-width-col">
                        <input id="default" class="c-text-field" (ngModelChange)="createNewHeaderField()" [(ngModel)]="header.name" [disabled]="header.readonly"
                            type="text" [attr.placeholder]="getPlaceholder(header)">
                        <!--<div class="c-search header-autocomplete" autocomplete="off">
                            <input role="combobox" class="c-text-field header-name" (ngModelChange)="createNewHeaderField()" [attr.aria-controls]="'headers-autosuggest-'+idx" aria-autocomplete="both" aria-expanded="false" type="text" [attr.placeholder]="getPlaceholder(header)" [(ngModel)]="header.name" [disabled]="header.readonly">
                            <div class="m-auto-suggest" [attr.id]="'headers-autosuggest-'+idx" role="group">
                                <ul class="c-menu" aria-hidden="true" data-js-auto-suggest-position="default" tabindex="0" role="listbox"></ul>
                                <ul class="c-menu f-auto-suggest-no-results" aria-hidden="true" data-js-auto-suggest-position="default" tabindex="0"></ul>
                            </div>
                        </div>-->

                    </td>
                    <td class="half-width-col">
                        <input id="default" class="c-text-field header-value" [(ngModel)]="header.value" [disabled]="header.readonly" type="text"
                            name="default" [class.invisible]="isLastHeader(header)">
                    </td>
                    <td class="remove-header-btn" [class.invisible]="isLastHeader(header)" (click)="removeHeader(header)">
                        <i class="ms-Icon ms-Icon--Cancel"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>