#scopes-dialog {
    min-width: 800px;
}

#scopes-list-table-container {
    max-height: 451px;
    overflow: auto;
    margin-top: 20px;
}

.ms-Dialog {
    max-width: 770px;
    z-index: 999;
}

.ms-Dialog-title {
    text-transform: capitalize;
}

.ms-Link {
    color: #0078d7;
}

.ms-CheckBox-field:before, .ms-CheckBox-field:after {
    margin-top: 4px;
}

.ms-MessageBar-text {
    font-size: 15px;
}

.ms-MessageBar {
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.c-checkbox input[type=checkbox]:focus+span:before {
    outline: none !important;
}

label.c-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.preview-label {
    margin-left: 10px;
}

.scopeRow:hover, .scopeRow:focus {
    background: rgba(0,0,0,0.25);
    outline: 2px solid white;
}