api-explorer .c-select-menu.f-border button {
    height: initial !important;
}





.mat-input-wrapper {
    border: 1px solid black;
    padding: 9px;
    margin-top: 20px;
}

.mat-input-underline, .mat-input-ripple {
    display: none;
}