<div class="ms-MessageBanner">
    <div class="ms-MessageBanner-content">
        <div class="ms-MessageBanner-text">
            <div class="ms-MessageBanner-clipper">
                {{getStr('using graph explorer classic')}}
            </div>
        </div>
        <div class="ms-MessageBanner-action">
            <div class="ms-Toggle toggle-button">
                <input (change)="switchToggle()" type="checkbox" id="demo-toggle-3" class="ms-Toggle-input" />
                <label for="demo-toggle-3" class="{{successClass}}" tabindex="0">
                    <span class="ms-Label ms-Label--off"></span>
                    <span class="ms-Label ms-Label--on"></span>
                </label>
            </div>
        </div>
    </div>
</div>