.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.md-button {
    padding: 0 0 0 0;
    border-radius: 0px;
}

.md-menu {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#jsonViewer {
    position: relative;
    height: 60vh;
    background: rgb(230, 230, 230);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    margin-top: 10px;
}

#jsonEditor {
    position: relative;
    height: 20vh;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important; 
    margin-top: 10px;
}

#jsonEditorHeaders {
    position: relative;
    height: 20vh;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important; 
    margin-top: 10px;
}

#duration {
    padding-top: 5px;
    color: #4685e2;
    font-size: 15px;
    position: absolute;
}

#queryBar {
    border-right: 0;
}

.form-control {
    border-radius: 0;
}

.ace_link_marker {
    position: absolute;
    border-bottom: 1px solid blue;
}

#adminConsent {
    font-size: 85%;
    background-color: #ECECEC;
    padding-left: 1em;
}

.panel-heading{
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;    
    background-color: #f5f5f5;
    border-color: #ddd;
}

.accordion-toggle
.ng-binding{
    color:rgba(51,51,51,1);
    font-size:18px;
}

.historyItem {
    border-top: 1px solid #808080;
}

#historyButton .historyIcon {
    transition: all 0.25s;
}
#historyButton[disabled] .historyIcon {
    filter: opacity(50%);
}

.historyIcon{
    font-size: 25px !important;
    min-height:100%;
    min-width: 100%;
}

.historyUrl{
    padding-right: 10px;
}

#historyTable th{
   color: #707070;
   font-size: 14px;
   font-weight: 700;
}

#historyTable td, #historyTable th{
    padding: 10px;
}

#historyTable td, #historyTable tr, #historyTable th{
    border: 1px solid #cecece;
}

.historyRow:hover {
    background-color: #ECECEC;
}

.editorLabel p{
   color: #707070;
   font-size: 14px;
   padding-left: 2em;
   font-weight: 500;
}

.closeColumn .md-button {
    font-size: 70%;
    min-height: 1%;
    height: 20px;
    min-width: 1%;
    line-height: 0px;
}

/* css classses for coloring back links based on success/failure */
.success{
    color: #92C700;
}

.error {
    color: #FF6A00;
    border-left: 1px solid #808080;
}


@media (-ms-high-contrast) {
    md-backdrop{
        background-color: transparent;
    }

    .md-autocomplete-suggestions li:hover,
    .md-focused{
          border: 1px solid #ccc;  
    }
    md-autocomplete-suggestions-container.md-default-theme li:hover, 
    .md-autocomplete-suggestions-container li:hover, 
    .md-autocomplete-suggestions-container.md-default-theme li.selected, 
    .md-autocomplete-suggestions-container li.selected{    
          border: 1px solid #ccc;  
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-autocomplete-wrap {
    border-top:.0625rem solid #ccc!important;
    border-right:.0625rem solid #ccc!important;
    border-bottom:.0625rem solid #ccc!important;
}

.hideTabContent md-tab-content {
    display: none;
}

#insertTemplateButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px;
}