/* MWF action bar formats*/
.ms-MessageBar {
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f4f4f4;
    color: #333333;
    width: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}
.ms-MessageBar .ms-MessageBar-icon {
    color: #767676
}
html[dir=ltr] .ms-MessageBar .ms-MessageBar-icon {
    padding-right: 8px
}
html[dir=rtl] .ms-MessageBar .ms-MessageBar-icon {
    padding-left: 8px
}
.ms-MessageBar .ms-Link {
    font-size: 12px
}
.ms-MessageBar-icon,
.ms-MessageBar-text {
    display: table-cell;
    vertical-align: top
}
.ms-MessageBar-icon {
    font-size: 16px;
    min-width: 16px;
    min-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.ms-MessageBar-text {
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: 400;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.ms-MessageBar.ms-MessageBar--warning {
    background-color: #fff4ce;
    color: #333333
}
.ms-MessageBar.ms-MessageBar--severeWarning {
    background-color: #fed9cc;
    color: #333333
}
.ms-MessageBar.ms-MessageBar--severeWarning .ms-MessageBar-icon {
    color: #d83b01
}
.ms-MessageBar.ms-MessageBar--error {
    background-color: #fde7e9;
    color: #333333
}
.ms-MessageBar.ms-MessageBar--error .ms-MessageBar-icon {
    color: #a80000
}
.ms-MessageBar.ms-MessageBar--blocked {
    background-color: #fde7e9;
    color: #333333
}
.ms-MessageBar.ms-MessageBar--blocked .ms-MessageBar-icon {
    color: #a80000
}
.ms-MessageBar.ms-MessageBar--success {
    background-color: #dff6dd;
    color: #333333
}
.ms-MessageBar.ms-MessageBar--success .ms-MessageBar-icon {
    color: #107c10
}
.ms-MessageBar-content {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    box-sizing: border-box
}
.ms-MessageBar-actionables {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-width: 0
}
.ms-MessageBar-actionables>.ms-MessageBar-dismissal {
    right: 0;
    top: 0;
    position: absolute!important
}
.ms-MessageBar-actions,
.ms-MessageBar-actionsOneline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.ms-MessageBar-actionsOneline {
    position: relative
}
.ms-MessageBar-dismissal {
    min-width: 0
}
.ms-MessageBar-dismissal::-moz-focus-inner {
    border: 0
}
.ms-MessageBar-dismissal {
    outline: transparent;
    position: relative
}
.ms-Fabric.is-focusVisible .ms-MessageBar-dismissal:focus:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid #666666
}
html[dir=ltr] .ms-MessageBar-actionsOneline .ms-MessageBar-dismissal {
    margin-right: -8px
}
html[dir=rtl] .ms-MessageBar-actionsOneline .ms-MessageBar-dismissal {
    margin-left: -8px
}
.ms-MessageBar+.ms-MessageBar {
    margin-bottom: 6px
}
html[dir=ltr] .ms-MessageBar-innerTextPadding {
    padding-right: 24px
}
html[dir=rtl] .ms-MessageBar-innerTextPadding {
    padding-left: 24px
}
html[dir=ltr] .ms-MessageBar-innerTextPadding .ms-MessageBar-innerText>span,
html[dir=ltr] .ms-MessageBar-innerTextPadding span {
    padding-right: 4px
}
html[dir=rtl] .ms-MessageBar-innerTextPadding .ms-MessageBar-innerText>span,
html[dir=rtl] .ms-MessageBar-innerTextPadding span {
    padding-left: 4px
}
.ms-MessageBar-multiline>.ms-MessageBar-content>.ms-MessageBar-actionables {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}
.ms-MessageBar-singleline .ms-MessageBar-content .ms-MessageBar-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}
.ms-MessageBar-singleline .ms-MessageBar-content .ms-MessageBar-actionables>.ms-MessageBar-text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}
.ms-MessageBar-singleline .ms-MessageBar-content .ms-MessageBar-actionables>.ms-MessageBar-text .ms-MessageBar-innerText,
.ms-MessageBar-singleline .ms-MessageBar-content .ms-MessageBar-actionables>.ms-MessageBar-text .ms-MessageBar-innerTextPadding {
    max-height: 1.3em;
    line-height: 1.3em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.ms-MessageBar-singleline .ms-MessageBar-content>.ms-MessageBar-actionables {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}
.ms-MessageBar .ms-Icon--Cancel {
    font-size: 14px
}



#adminConsent {
    font-size: 85%;
    background-color: #ECECEC;
    padding-left: 1em;
}

.historyIcon {
    font-size: 25px !important;
    min-height:100%;
    min-width: 100%;
}

.historyUrl {
    padding-right: 10px;
}


.closeColumn .md-button {
    font-size: 70%;
    min-height: 1%;
    height: 20px;
    min-width: 1%;
    line-height: 0px;
}

@media (-ms-high-contrast) {
    md-backdrop{
        background-color: transparent;
    }

    .md-autocomplete-suggestions li:hover,
    .md-focused{
          border: 1px solid #ccc;  
    }
    md-autocomplete-suggestions-container.md-default-theme li:hover, 
    .md-autocomplete-suggestions-container li:hover, 
    .md-autocomplete-suggestions-container.md-default-theme li.selected, 
    .md-autocomplete-suggestions-container li.selected{    
          border: 1px solid #ccc;  
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-autocomplete-wrap {
    border-top:.0625rem solid #ccc!important;
    border-right:.0625rem solid #ccc!important;
    border-bottom:.0625rem solid #ccc!important;
}

.hideTabContent md-tab-content {
    display: none;
}


/* Hide md-autocomplete progress bar*/
/* https://github.com/angular/material/issues/5428 */
md-autocomplete > md-autocomplete-wrap > md-progress-linear {
    display: none;
}

/* Frontdoor css changes */
md-autocomplete button {
    min-width: inherit;
}


md-autocomplete-wrap input:focus {
    background-color: transparent !important;
}

/* visualizer*/
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}


@media (max-width: 639px) {
    #explorer-sidebar {
        height: auto;
        padding-bottom: 30px;
    }

    #explorer-main {
        padding-top: 20px;
    }
    
    #responseMessage .ms-MessageBar {
        width: 100% !important;
    }
    
    .arrow-left {
        display: none;
    }
}

/*
#explorer-sidebar .panel-header {
    font-size: 17px;
    cursor: pointer;
}

#explorer-sidebar .panel-header i {
    float: right;
}*/

/*end visualizer*/

.explorer-form-row {
    margin: 10px 5px;
}

.c-select.f-border {
    margin-top: 0px;
    min-width: 50px;
}
/*Hide scrollbar on dropdown*/


md-autocomplete-wrap.md-whiteframe-z1 {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.6) !important;
    height: 38px;
}

md-autocomplete.ng-isolate-scope.flex {
    margin-top: 4px;
}

md-autocomplete-wrap.md-whiteframe-z1 input {
    height: 35px;
}







#responseMessage .ms-MessageBar {
    width: 60%;
    margin: 0px auto;
    font-size: 15px;
}

span#duration-label {
    font-weight: 800;
    margin-left: 40px;
}


.ms-MessageBar-content {
    padding: 6px;
}

/* frontdoor style conflicts */
#auth-drawer-button {
    background-color: inherit !important;
    color: white !important;
}



#api-explorer-app ol li,ul li {
    margin-bottom: inherit;
}

md-autocomplete-wrap.md-menu-showing {
    border-bottom: none !important;
}

.ms-Pivot *:focus {
    outline: none;
}


.user-no-image .ms-Persona-details {
    padding-left: 0;
}


md-autocomplete button:after {
    display: none;
}

#response-action-bar {
    
}

#response-action-bar i {
    cursor: pointer;
}

div#share-link-dialog {
    min-width: 35%;
}