.md-button {
    padding: 0 0 0 0;
    border-radius: 0px;
}

.md-menu {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#jsonViewer {
    position: relative;
    height: 60vh;
    background: rgb(230, 230, 230);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    margin-top: 10px;
}

#jsonEditor, #jsonEditorHeaders {
    position: relative;
    height: 20vh;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important; 
    margin-top: 10px;
}

.form-control {
    border-radius: 0;
}

.ace_link_marker {
    position: absolute;
    border-bottom: 1px solid blue;
}

#adminConsent {
    font-size: 85%;
    background-color: #ECECEC;
    padding-left: 1em;
}

.historyItem {
    border-top: 1px solid #808080;
}

#historyButton {
    background: none !important;
}

#historyButton .historyIcon {
    transition: all 0.25s;
}
#historyButton[disabled] .historyIcon {
    filter: opacity(50%);
}

.historyIcon {
    font-size: 25px !important;
    min-height:100%;
    min-width: 100%;
}

.historyUrl {
    padding-right: 10px;
}

#historyTable th {
   color: #707070;
   font-size: 14px;
   font-weight: 700;
}

#historyTable td, #historyTable th{
    padding: 10px;
}

#historyTable td, #historyTable tr, #historyTable th{
    border: 1px solid #cecece;
}

.historyRow:hover {
    background-color: #ECECEC;
}

.closeColumn .md-button {
    font-size: 70%;
    min-height: 1%;
    height: 20px;
    min-width: 1%;
    line-height: 0px;
}

/* css classses for coloring back links based on success/failure */
.success{
    color: #92C700;
}

.error {
    color: #FF6A00;
    border-left: 1px solid #808080;
}


@media (-ms-high-contrast) {
    md-backdrop{
        background-color: transparent;
    }

    .md-autocomplete-suggestions li:hover,
    .md-focused{
          border: 1px solid #ccc;  
    }
    md-autocomplete-suggestions-container.md-default-theme li:hover, 
    .md-autocomplete-suggestions-container li:hover, 
    .md-autocomplete-suggestions-container.md-default-theme li.selected, 
    .md-autocomplete-suggestions-container li.selected{    
          border: 1px solid #ccc;  
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-autocomplete-wrap {
    border-top:.0625rem solid #ccc!important;
    border-right:.0625rem solid #ccc!important;
    border-bottom:.0625rem solid #ccc!important;
}

.hideTabContent md-tab-content {
    display: none;
}

#insertTemplateButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px;
}

code {
    display: block;
    background: #ececec;
    padding: 15px;
    color: black;
}

/* Hide md-autocomplete progress bar*/
/* https://github.com/angular/material/issues/5428 */
md-autocomplete > md-autocomplete-wrap > md-progress-linear {
    display: none;
}

/* Frontdoor css changes */
md-autocomplete button {
    min-width: inherit;
}

.historyRow {
    cursor: pointer;
}

md-autocomplete-wrap input:focus {
    background-color: transparent !important;
}

/* visualizer*/
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

#explorer-sidebar {
    background: #394146 !important;
    height: 100%;
    color: white;
}
/*
#explorer-sidebar .panel-header {
    font-size: 17px;
    cursor: pointer;
}

#explorer-sidebar .panel-header i {
    float: right;
}*/

/*end visualizer*/

.explorer-form-row {
    margin: 10px 5px;
}

.c-select.f-border {
    margin-top: 0px;
    min-width: 50px;
}
/*Hide scrollbar on dropdown*/

.c-select-menu.f-border [aria-expanded] {
    height: inherit;
}

md-autocomplete-wrap.md-whiteframe-z1 {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.6) !important;
    height: 35px;
}

md-autocomplete.ng-isolate-scope.flex {
    height: 35px;
}

md-autocomplete-wrap.md-whiteframe-z1 input {
    height: 35px;
}

button.c-glyph {
    color: white;
}

#explorer-sidebar {
    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
}

#explorer-sidebar .panel-header {
    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
    display: inline-block;
    padding: 0px;
    font-weight: 100;
}

#explorer-sidebar .panel-content {
    padding-left: 29px;
}

#explorer-sidebar .panel-header i.ms-Icon{
    margin-right: 10px;
}

/* Remove drawer carrot on auth */
#auth-drawer-button:after{
    content:none;
}

.api-query:hover {
    background: rgba(0,0,0,.1);
}

.api-query {
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    display: block;
    border: 0;
    background: 0 0;
    font-weight: 600;
    padding: 5px 36px 5px 12px;
    left: 0;
    text-align: left;
    width: 100%;
}

.api-query .request-badge {
    border: 1px solid gray;
    min-width: 50px;
    display: inline-block;
    padding: 2px;
    text-align: center;
    margin-right: 15px;
}
.request-badge.GET {
    background-color: #000fdf  
}

#getting-started-svg {
    display: inline-block;
    width: 29px;
    margin: -2px 4px 2px -4px;
}

#ms-signin-button {
    max-width: 215px;
    margin: 20px 0;
    cursor: pointer;
}

md-progress-circular path {
    stroke: #FFF;
    margin: -5px;
}

#responseMessage {
    width: 60%;
    padding: 17px;
    margin: 0px auto;
}